.header {
    position: relative;
    min-height: 100vh;
    width: 100%;
    color: #fff;
}


.header-video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}


.header-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
}


.header-logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.header-logo img {
    width: 240px;
    height: auto;
}

.tit h1 {
    position: absolute;
    z-index: 3;
    color: #fff;
    bottom: 270px;
    left: 42%;
    font-family: "Cinzel", serif;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 2px;


}

.park {
    margin-top: 30px;

}

.title {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
}

.park h2 {
    color: black;
    font-size: 38px;
    font-family: "Cinzel", serif;
}

.park span {
    color: #9c7a4a;
    font-family: "Cinzel", serif;

}

.park p {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 1.5;
}

.parks {
    margin-top: 70px;
    padding-bottom: 20px;

}

.parks h4 {
    font-size: 17px;

}

.parks span {
    float: right;
}

.photo {
    margin-top: 30px;

}

.photo img {
    width: 100%;
    height: 900px;
}

.photos {
    margin-top: 50px;

}

.photos img {
    width: 100%;
    height: 400px;
}

.heading {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 30px;
}

.photos h1 {
    color: black;
    font-size: 38px;
    font-family: "Cinzel", serif;
    text-transform: uppercase;
}

.photos span {
    color: #9c7a4a;
    font-family: "Cinzel", serif;
    text-transform: uppercase;

}

.photos p {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 1.5;

}

.ap-btn {
    background-color: #9c7a4a;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;

}

.map-section iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.foot {
    margin-top: 50px;

}

.foot h1 {
    color: #9c7a4a;
    font-size: 38px;
    font-family: "Cinzel", serif;
    text-transform: uppercase;

}

.foot span {
    color: black;
    font-family: "Cinzel", serif;
    text-transform: uppercase;
}

.f-t {
    font-size: 20px;
    letter-spacing: 2px;
}

.foot p {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 1.5;
}

.a-btn {
    color: #9c7a4a;
    letter-spacing: 2px;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
}

@media (max-width: 376px) {
    .tit h1 {
        position: absolute;
        z-index: 3;
        color: #fff;
        bottom: 223px;
        left: 13%;
        font-family: "Cinzel", serif;
        text-transform: uppercase;
        font-size: 36px;
        letter-spacing: 2px;
    }

    .photo img {
        width: 100%;
        height: 400px;
    }
}