
.contact-section {
  background: #f7f4ef;
  padding: 120px 0;
}

.small-title {
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.main-title {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 1.1;
  margin-bottom: 30px;
}

.main-title span {
  color: #9c7a4a;
  font-size: 40px;
}

.address {
  font-style: italic;
  margin-bottom: 30px;
}

.desc {
  max-width: 600px;
  line-height: 1.8;
  margin-bottom: 60px;
}

.label {
  font-size: 14px;
  color: #555;
}

.info-block p {
  margin: 0;
}


.location-title-section {
  background: #e9e1d6;
  text-align: center;
  padding: 120px 20px;
}

.location-small {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.location-title {
  font-family: "Playfair Display", serif;
  font-size: 46px;
  color: #9c7a4a;
}

.location-title span {
  color: #111;
    font-family: "Playfair Display", serif;
}


.map-section iframe {
  width: 100%;
  height: 500px;
  border: none;
}


.video-section {
  width: 100%;
  height: 80vh;
  overflow: hidden;
}

.video-section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width: 768px) {
  .main-title {
    font-size: 42px;
  }

  .location-title {
    font-size: 36px;
  }

  .video-section {
    height: 60vh;
  }
}
