.gallery-section {
  background: #f7f4ef;
  padding: 120px 0;
}


.gallery-grid {
  row-gap: 120px;
}


.gallery-item img {
  width: 90%;
  height: 300px;
  display: block;
}


@media (max-width: 991px) {
  .gallery-section {
    padding: 80px 0;
  }

  .gallery-grid {
    row-gap: 60px;
  }
}
