.header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: #fff;
}


.header-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}


.header-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}


.header-logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.header-logo img {
  width: 240px;
  height: auto;
}
.ti h1{
  position: absolute;
  z-index: 3;
  color: #fff;
  bottom: 270px;
  left: 25%;
  font-family: "Cinzel", serif;
   font-size: 50px;
   letter-spacing: 2px;
   text-transform: uppercase;


}
@media (max-width: 376px) {
  .ti h1 {
        position: absolute;
        z-index: 3;
        color: #fff;
        bottom: 236px;
        left: 11%;
        font-family: "Cinzel", serif;
        font-size: 32px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }



}
@media (max-width: 776px) {
  .ti h1 {
        position: absolute;
        z-index: 3;
        color: #fff;
        bottom: 185px;
        left: 11%;
        font-family: "Cinzel", serif;
        font-size: 32px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }



}


