*{
  padding: 0;
  margin: 0;
}
.rating-wrapper {
  width: 100%;
  background-color: #3A2B21;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 10px;
  color: white;
  font-family: "Lato", sans-serif;
  flex-wrap: wrap;
}

.rating-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 4px 8px;
}

.rating-number {
  font-size: 26px;
  font-family: "Playfair Display", serif;
}

.rating-small {
  font-size: 14px;
}

.rating-label {
  font-size: 15px;
}

.rating-sub {
  font-size: 12px;
  color: #d9d9d9;
}

.rating-source {
  font-size: 13px;
}

.rating-divider {
  width: 1px;
  height: 34px;
  background-color: #8e7b6e;
}



@media (max-width: 992px) {
  .rating-number {
    font-size: 22px;
  }
}



@media (max-width: 576px) {
  .rating-wrapper {
    flex-wrap: nowrap; 
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    gap: 20px;
    padding: 14px 10px;
    
  }

  .rating-item {
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  .rating-divider {
    display: none;
  }


  .rating-wrapper::-webkit-scrollbar {
    display: none;
  }
  .rating-wrapper {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .rating-number {
    font-size: 20px;
  }

  .rating-label {
    font-size: 14px;
  }

  .rating-sub {
    font-size: 11px;
  }

  .rating-source {
    font-size: 12px;
  }
}
