
.restaurant-section {
  background: #f9f5ef;
  padding: 100px 0;         
  overflow-x: hidden;       
}

.restaurant-big-img {
  width: 100%;
  height: 780px;
  object-fit: cover;
  display: block;
}

.content-box {
  padding: 40px 50px;
  max-width: 100%;
  overflow-x: hidden;
}

.rest-title-top {
  font-family: "Cinzel", serif;
  color: #bba176;
  letter-spacing: 2px;
  font-size: 38px;
  margin-bottom: -5px;
}

.rest-title {
  font-family: "Cinzel", serif;
  font-size: 52px;
  font-weight: 400;
  margin-bottom: 25px;
  color: #1a1a1a;
}

.rest-description {
  font-size: 16px;
  line-height: 1.75;
  font-weight: 300;
  color: #2a2a2a;
  margin-bottom: 35px;
  max-width: 520px;
}


.rest-links {
  max-width: 520px;
}

.rest-btn {
  display: flex;                        
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  letter-spacing: 2.8px;
  padding-bottom: 6px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #af9a7e;
  transition: transform 0.3s ease;
}

.rest-btn:hover {
  transform: translateX(12px);          
}

.arrow {
  font-size: 20px;
  color: #af9a7e;
}

.underline {
  border: none;
  height: 2px;
  background: #bba176;
  margin: 12px 0 18px;
}
.rest-video {
  width: 100%;
  margin-top: 60px;
  height: 320px;
  object-fit: cover;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .rest-title {
    font-size: 40px;
  }

  .restaurant-big-img {
    height: 500px;
  }

  .rest-video {
    height: 250px;
  }

  .content-box {
    margin-top: 50px;
    padding: 30px;
  }
}

@media (max-width: 768px) {
  .restaurant-section {
    padding: 60px 0;
  }

  .rest-title {
    font-size: 34px;
  }

  .rest-title-top {
    font-size: 28px;
  }

  .rest-btn:hover {
    transform: none;       
  }
}
