.rooms-section {
  width: 100%;
  background: #f4f0ea;
  padding: 80px 0;
}


.title-row {
  margin-bottom: 45px;
  padding: 30px 0;
}

.explore-title {
  /* padding: 10px 0; */
  font-size: 13px;
  letter-spacing: 4px;
  color: #7f756c;
}

.main-title {
  font-size: 42px;
  font-family: "Times New Roman", serif;
  letter-spacing: 3px;
  color: #2a2727;
}


.title-progress-track {
  width: 100%;
  max-width: 300px;
  height: 2px;
  background: #d0c8bf;
  position: relative;
  margin-top: 12px;
}

.title-progress-indicator {
  width: 50px;
  height: 3px;
  background: #000;
  position: absolute;
  top: -0.5px;
  transform: translateX(-50%);
  transition: left 0.6s ease;
}

.rooms-slider {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  padding-bottom: 20px;
}

.rooms-slider::-webkit-scrollbar {
  display: none;
}


.room-card {
  flex: 0 0 auto;
  width: clamp(230px, 70vw, 300px);
  scroll-snap-align: center;
  width: 600px;
}


.room-img {
  width: 100%;
  /* height: clamp(220px, 50vw, 340px); */
  object-fit: cover;
  border-radius: 6px;
  transition: 0.3s ease;
}

.room-img:hover {
  transform: scale(1.05);
}


.room-name {
  margin-top: 12px;
  padding: 20px;
  font-size: 18px;
  letter-spacing: 1px;
  color: #2a2727;
}

.room-info {
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
  margin-top: 8px;
  padding-top: 8px;
  color: #000;
  border-top: 1px solid #cfc8c0;
  font-size: 18px;
}
.room-info span{
  color: #000;
  padding: 10px;
}
.room-info span i{
  padding: 10px;
}

.view-room-btn {
  margin-top: 14px;
  font-size: 16px;
  background: transparent;
  border: none;
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid #000;
  cursor: pointer;
}


@media (max-width: 768px) {
  .main-title {
    font-size: 34px;
  }
  
  .title-progress-track {
    max-width: 200px;
  }
}

@media (max-width: 500px) {
  .explore-title {
    font-size: 12px;
  }

  .room-card {
    width: 75vw;
  }

  .room-img {
    height: 250px;
  }
}
