body {
  overflow-x: hidden;
}


.header {
  position: relative;
  min-height: 100vh;
}

.header-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.header-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}

.header-logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.header-logo img {
  width: 240px;
}

.tita h1 {
  position: absolute;
  bottom: 260px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-family: "Cinzel", serif;
  font-size: 48px;
}


.room-intro {
  margin-top: 80px;
}

.le1 h1 {
  font-family: "Cinzel", serif;
}

.sub-ti {
  letter-spacing: 2px;
}

.le1 a {
  background: #886246;
  color: #fff;
  padding: 10px 16px;
  text-decoration: none;
}

.ri1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-top: 30px;
}

.amenity {
  border-bottom: 1px solid #bdb6ad;
  padding-bottom: 12px;
}


.room-carousel img {
  height: 650px;
  object-fit: cover;
}

.custom-arrow {
  font-size: 48px;
  color: #fff;
}

.custom-dots {
  bottom: 20px;
}


.details-row {
  background: #f7f4ef;
  padding: 120px 0;
}

.details-main-img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.details-small-img {
  width: 80%;
  margin-bottom: 40px;
  margin-top: 30px;
}

.lin{
    background: #886246;
  color: #fff;
  padding: 10px 16px;
  text-decoration: none;

}
.rooms-viewroom-section {
  background: #f4f0ea;
  /* padding: 120px 0; */
}

.rooms-slider {
  display: flex;
  gap: 25px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.rooms-slider::-webkit-scrollbar {
  display: none;
}

.room-card {
  width: 600px;
  scroll-snap-align: center;
}

.room-img {
  width: 100%;
}

@media (max-width: 768px) {
  .room-card {
    width: 80vw;
  }

  .tita h1 {
    font-size: 32px;
  }
}
