.header {
  position: relative;
  min-height: 100vh;
  width: 100%;
  color: #fff;
}


.header-video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}


.header-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}


.header-logo {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.header-logo img {
  width: 240px;
  height: auto;
}
.tita h1{
  position: absolute;
  z-index: 3;
  color: #fff;
  bottom: 270px;
  left: 49%;
  font-family: "Cinzel", serif;
   font-size: 50px;
   letter-spacing: 2px;


}
.first{
    margin-top: 30px;

}
.first p{
    font-size: 19px;
    letter-spacing: 2px;
    line-height: 1.7;
}
.first h2{
    font-size: 44px;
    letter-spacing: 2px;
    font-family: "Cinzel", serif;
    color: #000;
}
.first ul{
    margin-top: 20px;
    margin-bottom: 20px;
}   
.first a{
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #dfa54d;
    margin-top: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
      font-family: "Cinzel", serif;
    font-size: 25px;
}

@media (max-width: 376px) {
.tita h1 {
        position: absolute;
        z-index: 3;
        color: #fff;
        bottom: 231px;
        left: 47%;
        font-family: "Cinzel", serif;
        font-size: 21px;
        letter-spacing: 2px;
    }

}


